
.cv-canvas {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.3in;
  width: 8.5in;
  background-color: #faffff;
  -webkit-box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.7);
          box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.7);
}
/* suez-one-regular - latin */
@font-face {
  font-family: 'Suez One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/suez-one-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/suez-one-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/suez-one-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/suez-one-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/suez-one-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/suez-one-v5-latin-regular.svg#SuezOne') format('svg'); /* Legacy iOS */
}

d-appendix { display: none!important; }

main > h1 {
  font-size: 2rem;
  color: #AD0059;
  font-family: sans-serif;
}

.bigger {
  font-size: 2.37rem;
}

table thead, table tbody, d-article table, d-article table th {
  border: none;
}


main > h2, main > h3, main > h4 {
  font-family: "Suez One";
  font-weight: 400;
}

@media print {
  @page {
    size: 8.5in 12in;
  }
  d-title { display: none; }
  d-article {
    contain: none;
  }
  .cv-canvas {
    position: relative;
    top: 0;
    left: 0;
    padding: 0.3in;
    width: 8.5in;
    -webkit-box-shadow: none;
          box-shadow: none;
  }
}

.half {
  width: 50%;
}